/* * *::after *::before{
    box-sizing: border-box;
} */

* {box-sizing: border-box}

.item{
    font-size: 1.35rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #f4ebe0;
    /* padding-bottom: 0rem; */
}
.top{
    margin-top: 4rem;
}

.box{
    /* border: 2px solid blue; */
    height: fit-content;
    display: flex;
    flex-direction: row;
}

h4{
    color: #9D5628;
    font-family: 'Times New Roman', Times, serif;
    /* padding-left: 1rem; */
    font-weight: bolder;
    font-size: 3rem;
    margin: 0 auto;
    padding-top: 1em 1em 0 1em;
}
.content{
    padding: 1em 2em 1em 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    /* border: 2px solid green; */
    width: 70%;
}

.category{
    height: fit-content;
    margin:5em 1em;
    /* border: 2px solid red; */
}

.item{
    padding: 0.5em 1em;
    height: fit-content;
    width: 30vw;
    /* border: 2px solid red; */
}

.food{
    font-weight: bold;
}

.container {
    position: relative;
    width:20%;
    /* max-width: 300px; */
    /* border: 2px solid green; */
    height: fit-content;
    display: inline-block;
    /* padding: 2em 1em; */
    margin: 2em 1em 2em 1em;
  }
  
  /* Make the image to responsive */
.image {
    display: block;
    max-width: 20vw;
    height: auto;
    /* float: left; */
    margin: auto auto;
}

h1{
    /* border: 2px solid navy; */
}

.main-menu{
    display: flex;
    flex-direction: column;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 20vw;
    height: 4em;
    transition: .5s ease;
    opacity:0;
    color: white;
    /* font-size: ; */
    padding: 1em;
    text-align: left;
    /* opacity: 1; */
    /* border: 2px solid green; */
}


.container:hover .overlay {
    opacity: 1;
}

@media only screen and (max-width:55em) {
    .container{
        width: 45vw;
    }
    .image{
        max-width: 40vw;
    }
    .item{
        width: 40vw;
    }
    
    /* .top {
        margin-top: 20%;
    } */
}

@media only screen and (max-width:40em) {
    .top {
        margin-top: 5em;
    }
}

@media only screen and (max-width:35em) {
    .content{
        flex-direction: column;
    }
    .item{
        width: 80vw;
    }
    /* .container{
        display: none;
    } */
    .box{
        flex-direction: column;
    }
    .image{
        height: auto;
        max-width: 70vw;
        margin: 0 auto;
    }
    .container{
        width: 80%;
        height: fit-content;
        margin: 1em auto 1em auto;
        padding: 0 0 0 0;
    }
    .top {
        margin-top: 10em;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b57143;
    color: #fff;
    position: fixed;
    z-index: 11;
    width: 100%;
    top:0;
  }
  .title {
    font-size: 1.5rem;
    margin: 0.5rem;
    padding-left: 8px;
  }
  .links ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .links li {
    list-style: none;
    font-size: larger;
  }
  
  .links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
    
  }
  
  .links li:hover {
    /* background-color: #DFAB71; */
    /* box-shadow: inset 15px 15px 8px #94440e; */
    background-color: #9D5628;

    border-radius: 5px;
    
  }
   